# ignore all
*

# add things to copy
!CMakeLists.txt
!Dockerfile
!Dockerfile.ccpp
!Dockerfile.mpi
!Dockerfile.mpi_openmp
!Dockerfile.openmp
!musica
!musica-fortran
!docs
!lib
!src
!test
!.gitmodules
!.git