# cmake and build stuff

build/
install/
CMakeCache.txt
CMakeFiles
.DS_Store
.vscode
dist/
musica.cpython-* 
musica.egg-info
**/*.mod

.venv
.pytest_cache
**/*__pycache__*
**/*.pyc
wheelhouse

error.json

.ipynb_checkpoints
configs/tuvx/output/
