cd build
  PKG_CONFIG_PATH=/Users/fillmore/EarthSystem/MUSICA-LLVM/flang-deps/netcdf-fortran-install/lib/
  pkgconfig:$PKG_CONFIG_PATH \
  CPPFLAGS=-I/opt/homebrew/include \
  LDFLAGS=-L/opt/homebrew/opt/yaml-cpp/lib \
  CC=clang CXX=clang++ FC=flang \
  cmake .. -DMUSICA_ENABLE_TESTS=ON

export PKG_CONFIG_PATH=/Users/fillmore/software/lib/pkgconfig:/Users/fillmore/EarthSystem/
  MUSICA-LLVM/flang-deps/netcdf-fortran-install/lib/pkgconfig:$PKG_CONFIG_PATH

Link downstream code with -I~/software/include -L~/software/lib -lpiof -lpioc -lgptl plus
     your MPI/NetCDF paths.
