[build-system]
requires = ["scikit-build-core", "pybind11"]
build-backend = "scikit_build_core.build"

[project]
name = "musica"
dynamic = ["version"]
readme = "README.md"
description = "MUSICA is a Python library for performing computational simulations in atmospheric chemistry."
long_description = "MUSICA (Multiscale Interface for Chemistry and Aerosols) is a powerful tool for modeling atmospheric chemistry processes. It provides a flexible interface for running simulations and analyzing results."
long_description_content_type = "text/plain"
authors = [
    { name = "Matthew Dawsom", email = "mattdawson@ucar.edu" },
    { name = "Jiwon Gim", email = "jiwongim@ucar.edu" },
    { name = "David Fillmore", email = "fillmore@ucar.edu" },
    { name = "Kyle Shores", email = "kshores@ucar.edu" },
]
maintainers = [{ name = "ACOM MUSICA Developers", email = "musica-support@ucar.edu" }]
license = { file = "LICENSE" }

dependencies = [
]

[project.optional-dependencies]
test = [
  "numpy",
]

[tool.scikit-build]
cmake.args = [
  "-DMUSICA_ENABLE_PYTHON_LIBRARY=ON",
  "-DMUSICA_ENABLE_TUVX=OFF",
  "-DMUSICA_BUILD_FORTRAN_INTERFACE=OFF",
  "-DMUSICA_ENABLE_TESTS=OFF",
]

[project.urls]
homepage = "https://wiki.ucar.edu/display/MUSICA/MUSICA+Home"

# dynamically read the version: https://scikit-build-core.readthedocs.io/en/latest/configuration.html#dynamic-metadata
[tool.scikit-build.metadata.version]
provider = "scikit_build_core.metadata.regex"
input = "CMakeLists.txt"
regex = 'musica-distribution VERSION\s+(?P<value>[0-9.]+)'

[[tool.scikit-build.generate]]
path = "musica/_version.py"
template = '''
version = "${version}"
'''