[build-system]
requires = ["scikit-build-core", "pybind11"]
build-backend = "scikit_build_core.build"

[project]
name = "musica"
version = "0.6.1"

[tool.scikit-build]
cmake.args = ["-DMUSICA_ENABLE_PYTHON_LIBRARY=ON"]