name: Docker

on: 
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  docker-build-and-test:
    name: Build and Test - ${{ matrix.dockerfile }} - ${{ matrix.build_type }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        dockerfile:
          - Dockerfile
          - Dockerfile.memcheck
          - Dockerfile.fortran-gcc
          - Dockerfile.openmp
          - Dockerfile.mpi
          - Dockerfile.mpi_openmp
          - Dockerfile.nvhpc
          - Dockerfile.javascript
        build_type: [Release, Debug]
        exclude:
          - dockerfile: Dockerfile.nvhpc
            build_type: Debug  # the -Werror flag causes some failures that are false positives as well as unavoidable
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          # this might remove tools that are actually needed,
          # if set to "true" but frees about 6 GB
          tool-cache: false

      - name: Build Docker image
        run: docker build -t musica -f docker/${{ matrix.dockerfile }} . --build-arg MUSICA_GIT_TAG=${{ github.sha }} --build-arg BUILD_TYPE=${{ matrix.build_type }}

      - name: Run tests in container
        if: matrix.dockerfile != 'Dockerfile.nvhpc' && matrix.dockerfile != 'Dockerfile.javascript'
        run: docker run --name test-container -t musica bash -c 'make test ARGS="--rerun-failed --output-on-failure -j8"'
      
      - name: Run javascript tests in container
        if: matrix.dockerfile == 'Dockerfile.javascript'
        run: docker run --name test-container -t musica bash -c 'npm run test'

  build-base:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4

        - uses: docker/setup-buildx-action@v3

        - name: Build base layer
          uses: docker/build-push-action@v6
          with:
            context: .
            file: docker/Dockerfile.fetch-content
            target: base
            tags: musica-base:${{ github.sha }}
            load: true
            cache-to: type=gha,mode=max
            cache-from: type=gha

  fetch-content:
    name: FetchContent Integration Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        target:
          - gcc-test
          - intel-test
          - nvhpc-test
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Build ${{ matrix.target }}
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/Dockerfile.fetch-content
          target: ${{ matrix.target }}
          load: true
          cache-from: type=gha
          cache-to: type=gha
          build-args: |
            MUSICA_GIT_TAG=${{ github.sha }}
