name: Docker

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  docker-build-and-test:
    name: Build and Test - ${{ matrix.dockerfile }} - ${{ matrix.build_type }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        dockerfile:
          - Dockerfile
          - Dockerfile.memcheck
          - Dockerfile.openmp
          - Dockerfile.mpi
          - Dockerfile.mpi_openmp
          - Dockerfile.nvhpc
          - Dockerfile.javascript
        build_type: [Release]
        exclude:
          - dockerfile: Dockerfile.nvhpc
            build_type: Debug  # the -Werror has false positives
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          # this might remove tools that are actually needed,
          # if set to "true" but frees about 6 GB
          tool-cache: false

      - name: Build Docker image
        run: docker build -t musica -f docker/${{ matrix.dockerfile }} . --build-arg MUSICA_GIT_TAG=${{ github.sha }} --build-arg BUILD_TYPE=${{ matrix.build_type }}

      - name: Run tests in container
        if: matrix.dockerfile != 'Dockerfile.nvhpc' && matrix.dockerfile != 'Dockerfile.javascript'
        run: docker run --name test-container -t musica bash -c 'make test ARGS="--rerun-failed --output-on-failure -j8"'

      - name: Run javascript tests in container
        if: matrix.dockerfile == 'Dockerfile.javascript'
        run: docker run --name test-container -t musica bash -c 'npm run test'

  build-base:
    name: Build MUSICA Base Image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx (container driver)
        uses: docker/setup-buildx-action@v3
        with:
          driver: docker-container

      - name: Build base layer
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/Dockerfile.fetch-content
          target: base
          tags: musica-base:${{ github.sha }}
          load: true
          cache-to: type=gha,mode=max,ref=musica-base:${{ github.sha }}
          cache-from: type=gha

  fetch-content:
    name: FetchContent Integration Test
    needs: build-base
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        target:
          - gcc-test
          - intel-test
          - nvhpc-test
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Docker Buildx (container driver)
        uses: docker/setup-buildx-action@v3
        with:
          driver: docker-container

      - name: Build ${{ matrix.target }} using base image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/Dockerfile.fetch-content
          target: ${{ matrix.target }}
          load: true
          cache-from: type=gha,ref=musica-base:${{ github.sha }}
          cache-to: type=gha,mode=max,ref=musica-base:${{ github.sha }}
          build-args: |
            MUSICA_GIT_TAG=${{ github.sha }}