name: Docker

on: 
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  docker-build-and-test:
    name: Build and Test - ${{ matrix.dockerfile }} - ${{ matrix.build_type }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        dockerfile:
          - Dockerfile
          - Dockerfile.memcheck
          - Dockerfile.fortran-gcc
          - Dockerfile.openmp
          - Dockerfile.mpi
          - Dockerfile.mpi_openmp
          - Dockerfile.nvhpc
        build_type: [Release, Debug]
        exclude:
          - dockerfile: Dockerfile.nvhpc
            build_type: Debug  # the -Werror flag causes some failures that are false positives as well as unavoidable
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          # this might remove tools that are actually needed,
          # if set to "true" but frees about 6 GB
          tool-cache: false

      - name: Build Docker image
        run: docker build -t musica -f docker/${{ matrix.dockerfile }} . --build-arg MUSICA_GIT_TAG=${{ github.sha }} --build-arg BUILD_TYPE=${{ matrix.build_type }}

      - name: Run tests in container
        if: matrix.dockerfile != 'Dockerfile.nvhpc'
        run: docker run --name test-container -t musica bash -c 'make test ARGS="--rerun-failed --output-on-failure -j8"'