name: Javascript Tests

on: 
  push:
    branches:
      - main
      
  pull_request:
  workflow_dispatch:

env:
  EM_VERSION: 4.0.22

jobs:
  node:
    strategy:
      fail-fast: false
      matrix: 
        platform: [windows-latest, macos-latest, ubuntu-latest]
        node-version: ["v22", "v24"]


    runs-on: ${{ matrix.platform }}

    steps:
    - name: Check out repository code
      uses: actions/checkout@v4

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - name: Restore npm cache
      uses: actions/cache@v4
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json')}}
        restore-keys: |
          ${{ runner.os }}-node-

    - name: Install dependencies
      run: npm ci

      
    - name: Build platform
      run: npm run build

    - name: Run tests
      run: npm run test
      
  wasm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: "lts/*"

      - name: Setup emscripten
        uses: mymindstorm/setup-emsdk@v14
        with:
          no-install: true
          version: ${{env.EM_VERSION}}

      - name: Install dependencies
        run: npm ci

      - name: Build wasm
        run: |
          emsdk install ${EM_VERSION}
          emsdk activate ${EM_VERSION}
          source $(dirname $(which emsdk))/emsdk_env.sh
          which node
          which clang++
          npm run build:wasm

      - name: Test
        run: npm test:unit:wasm
