name: Javascript Tests

on: 
  push:
    branches:
      - main
      
  pull_request:
  workflow_dispatch:

jobs:
  node:
    strategy:
      fail-fast: false
      matrix: 
        platform: [windows-latest, macos-latest, ubuntu-latest]
        node-version: ["v22", "v24"]

    runs-on: ${{ matrix.platform }}

    steps:
    - name: Check out repository code
      uses: actions/checkout@v4

    - name: Use Node.js
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - name: Install dependencies
      run: npm ci
      
    - name: Build platform
      run: npm run build:node

    - name: Run tests
      run: npm run test
      
  wasm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: "lts/*"

      - name: Set up EMSDK
        uses: ./.github/emsdk_steps

      - name: Install dependencies
        run: npm ci

      - name: Build wasm
        run: npm run build:wasm

      - name: Test
        run: npm test:unit:wasm
